#notepad {
    position: absolute;
    width: 350px;
    height: 500px;
    background-color: #e6e6e6;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;
    flex-direction: column;
    animation: popup-transform 0.3s ease-out;
}
#notepad_img, #notepad_deco {
    position: absolute;
    width: 480px;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.8;
}

#notepad_deco {
    z-index: 5;
    pointer-events: none;
}

#close_notepad_btn {
    position: absolute;
    bottom: -40px;
    width: 60px;
    right: -4%;
    margin: 0 14px;
    font-size: 14px;
    font-family: monospace;
    font-weight: bold;
    border: 3px solid;
    color: #495057;
    background-color: #e8ebe9;
    box-shadow: #e1dad5 2px 2px 0px 0px;
}

#close_notepad_btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#np_btns {
    position: absolute;
    top: 30%;
    right: -49%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: transparent;
    width: 300px;
    height: 50px;
    transform: rotate(90deg);
    z-index: 10;
}

.np_btn {
    background-color: transparent;
    border: 0px solid;
    cursor: pointer;
    font-size: 14px;
    font-family: monospace;
    font-weight: bold;
}

#np_content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#np_title {
    font-size: 24px;
    font-family: monospace;
    font-weight: bold;
    text-decoration: underline;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
}

#np_subtitle {
    font-size: 18px;
    font-family: monospace;
    font-weight: bold;
    position: absolute;
    padding: 3px 5px;
    border-radius: 5px;
    background-color: #ffffff;
    top: 20%;
    left: 20%;
    transform: translateX(-50%);
}

#np_flower_list {
    width: 90%;
    height: 75%;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    overflow-y: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #d4cece transparent;
}

#np_cover {
    position: absolute;
    width: 300px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.np_flower_item {
    width: 90%;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #eeeeee;
}



.np_flower_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.np_flower_name_container {
    width: 92%;
    padding: 0 10px;

}

.np_flower_item_data {
    width: 70%;
}
.np_flower_img {
    width: 100px;
}

.np_data_title {
    font-size: 12px;
    font-family: monospace;
    font-weight: bold;
    margin: 5px 0;
}

.np_flower_item p {
    font-size: 12px;
    margin: 0;
}

.np_flower_name {
    font-weight: bold;
    padding: 3px 5px;
    background-color: #ffffff;
    border-radius: 5px;
}

#bottom-blur {
    position: absolute;
    width: 90%;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    background-color: #ffffff;
    filter: blur(10px);
    z-index: 1;
}